<?xml version="1.0"?>
<configuration>
    <connectionStrings>
        <add name="ConnectionString" 
             connectionString="Data Source=WINTECH-PC\SQLEXPRESS;Initial Catalog=DbEmployee;Integrated Security=True"
             providerName="System.Data.SqlClient"/>
    </connectionStrings>
  <appSettings>
    <add key="reportPath" value="C:\Users\wintech\Documents\Visual Studio 2010\Projects\WindowsFormsideaApplication9\WindowsFormsideaApplication9\CrystalReport2.rpt"/>
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
